/* --- CATEGORÍA: CONCEPTOS --- */

.txt-concepto {
    color: #5ccfe6;
    /* Celeste brillante (Cyan) */
    font-weight: bold;
    font-style: italic;
}

/* --- CATEGORÍA: RESALTADO --- */
.txt-resaltado {
    color: #ffd95a;
    /* Amarillo */
    font-weight: bold;
    text-decoration: underline;
}
