/* --- CATEGORÍA: CONCEPTOS --- */

.txt-concepto {
    color: #5ccfe6;
    /* Celeste brillante (Cyan) */
    font-weight: bold;
    font-style: italic;
}

/* --- CATEGORÍA: RESALTADO --- */
.txt-resaltado {
    color: #ffd95a;
    /* Amarillo */
    font-weight: bold;
    text-decoration: underline;
}

/* --- CATEGORÍA: DESTACADO NEGATIVO --- */
.txt-negativo {
    color: #ff4d4d;
    /* Rojo */
    font-weight: bold;
    font-style: italic;
}

/* --- CATEGORÍA: OTROS --- */
.txt-otros {
    color: #ff69b4;
    /* Rosado */
    font-weight: bold;
}

/* --- CATEGORÍA: TAMAÑO DE TEXTO --- */
.txt-tamano-28 {
    font-size: 28px;
    font-weight: bold;
}

.txt-tamano-22 {
    font-size: 22px;
    font-weight: bold;
}

.txt-tamano-18 {
    font-size: 18px;
    font-weight: bold;
}

.txt-tamano-14 {
    font-size: 14px;
    font-weight: bold;
}

.txt-tamano-12 {
    font-size: 12px;
    font-weight: bold;
}
